bin/
obj/
[Bb]uild/
[Bb]uilds/
[Ll]og/
[Ll]ogs/

*.user
*.userosscache
*.suo
*.sln.docstates
*.userprefs

mono_crash.*

.vscode/
.history/
*.code-workspace

.idea/
*.sln.iml

*.pidb
*.userprefs
*.user
*.aps
*.ncb
*.dbmdl
*.bak
*.backup
*.tmp

Generated_Code/
*.g.cs
*.g.i.cs

*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

project.lock.json
project.fragment.lock.json
artifacts/

*.dbmdl
*.jfm

TestResults/
*.trx
*.coverage
*.coveragexml

*.Publish.xml
publish/
publish-output/

*.azurePubxml
*.pubxml
*.publishproj

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

*.DS_Store
Thumbs.db

.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
